<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Reminder Item</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="Modal.close()" style="color:#97999e">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller='modalController'>
    <form>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Fatura Tipi
          </div>
          <select ng-model="modalData.bill_type">
            <option ng-repeat="type in billTypes" value="{{type.value}}">{{type.name}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Fatura Tutarı</span>
          <input type="text" ng-model="modalData.bill_amount">
        </label>
        <label class="item" ion-datetime-picker ng-model="modalData.bill_data">
            Fatura Tarihi
            <label class="bill_data">{{modalData.bill_data| date: "dd-MMM-yyyy H:mm"}}</label>
        </label>
        <label class="item item-input">
          <span class="input-label">Mesaj</span>
          <textarea ng-model="modalData.bill_message" class="reminderMessage"></textarea>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Durum
          </div>
          <select ng-model="modalData.status">
            <option ng-repeat="status in billStatus" value="{{status.value}}">{{status.name}}</option>
          </select>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="newReminder()">Kaydet</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
