
time {
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0px 0;
  color: #fff;
  background-color: red;
  /*background-color: #fd9f1b;*/
  border-bottom: 0px dashed #f37302;
  box-shadow: 0 2px 0 red;
}

time.icon em
{
  position: absolute;
  bottom: 28.3em;
  color: red;
}

time.icon span
{
  width: 100%;
  font-size: 23px;
  letter-spacing: -0.05em;
  padding-top: 20px;
  color: #2f2f2f;
}

.logout {
	background-color: red;
	color: white;
}

.reminderMessage {
	resize: vertical; max-height: 100px; min-height: 100px;
	text-align: right;
}

input[type=text] {
	text-align: right;
}

.billDate {
	text-align: right;
	float: right;
}